<footer class="site-footer">

  <div class="wrapper">
  {% comment %}
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
  {% endcomment %}
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1 font-caption">
        <ul class="contact-list">
          <li>
            <p>{{ site.description | escape }}</p>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list font-caption">

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
