/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    // .menu-icon {
    //   display: block;
    //   float: right;
    //   width: 36px;
    //   height: 26px;
    //   line-height: 0;
    //   padding-top: 10px;
    //   text-align: center;

    //   > svg path {
    //     fill: $grey-color-dark;
    //   }
    // }

    // .trigger {
    //   clear: both;
    //   display: none;
    // }

    // &:hover .trigger {
    //   display: block;
    //   padding-bottom: 5px;
    // }

    // .page-link {
    //   display: block;
    //   padding: 5px 10px;

    //   &:not(:last-child) {
    //     margin-right: 0;
    //   }
    //   margin-left: 20px;
    // }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-white;
  //background-color: lighten($grey-color-white, 5%);
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


// Fonts
h1 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 21px;

    @include media-query($on-laptop) {
      font-size: 36px;
    }
  }

h2 {
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 13px;

    // @include media-query($on-laptop) {
    //   font-size: 28px;
    // }
  }

  h3 {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 9px;

    // @include media-query($on-laptop) {
    //   font-size: 22px;
    // }
  }

  h4 {
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: 0;

    // @include media-query($on-laptop) {
    //   font-size: 18px;
    // }
  }

  h5 {
    font-size: $base-font-size;
    margin-bottom: 0;

    // @include media-query($on-laptop) {
    //   font-size: 18px;
    // }
  }

  .font-caption {
    font-size: 12px;
    line-height: 16px;
    color: $grey-color;
    display: block;
  }

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $base-font-size;
  color: $grey-color;
  border-bottom: 1px solid $grey-color-white;
  margin-bottom: 39px;
}

.post-element {
  margin-bottom: 37px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.title-post {
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;

  &:before {
    transition: all .2s ease-in-out;

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 8px;
    background-color: $grey-color-light;
    width: 0;
  }
}

.post-desc {
  // text-overflow: ellipsis;
  // white-space: nowrap;
  overflow: auto;
  margin-bottom: 14px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  color: $text-color;

  &:hover {
    text-decoration: none;

    .title-post::before {
      //width: 184px;
      width: 64px
    }
  }

  &:visited {
    color: $text-color;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 64px;

  // @include media-query($on-laptop) {
  //   font-size: 36px;
  // }
}

.post-content {
  margin-bottom: $spacing-unit;

  p {
    & + h2 {
      padding-top: 20px;
    }

    & + h3 {
      padding-top: 12px;
    }

    & h4 {
      padding-top: 17px
    }
  }

  img {
    margin-top: 8px;
    margin-bottom: 8px;
  }

}